@font-face {
  font-family: "HelveticaNeueGEO";
  src: url("../fonts/HELVETICANEUELTGEO-45LIGHTS.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueGEO";
  src: url("../fonts/HELVETICA-NEUE-LT-GEO-75-BOLD.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "HelveticaNeueGEO", sans-serif;
}
.container {
  max-width: 1195px;
  width: 100%;
  margin: 0 auto;
}
button {
  font-size: 16px;
  font-weight: 700;
  border-radius: 28px;
  border: none;
}
button:hover {
  opacity: 0.9;
  cursor: pointer;
}
header {
  background-color: #0a22f4;
  height: 380px;
}
.header-container {
  background-color: #0a22f4;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 27px 45px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%);
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
ul li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 300;
}
li a:hover {
  text-decoration: underline;
}
ul button {
  color: #171717;
  padding: 18px 36px;
  background-color: #ffffff;
}
.hero-container {
  margin-top: -12%;
}
.positioned-img img {
  max-width: 1195px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 15px;
}
h1 {
  font-size: 28px;
  margin-bottom: 60px;
  font-weight: 700;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 40px;
}
.information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 951px;
  width: 100%;
}
.information-container p {
  margin: 10px 0;
}
.information-container button {
  max-width: 341px;
  width: 100%;
  margin-top: 50px;
  background-color: #0a22f4;
  padding: 18px 50px;
  color: #ffffff;
  margin-bottom: 100px;
}
footer {
  background-color: #0a22f4;
  padding-top: 100px;
  padding-bottom: 40px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 30px;
}
.map-text p {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 60px;
  max-width: 463px;
  width: 100%;
}
.map-text {
  max-width: 463px;
  width: 100%;
}
.map {
  width: 463px;
  height: 197px;
  margin-bottom: 70px;
  box-shadow: -10px 10px rgb(255, 255, 255);
  border-radius: 15px;
}
.map iframe {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  border: none;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  max-width: 670px;
  width: 100%;
}
.phone-num,
.mail-container {
  display: flex;
  align-items: center;
}
.phone-num {
  margin-right: 70px;
}
.phone-num a,
.mail-container a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}
.phone-num img,
.mail-container img {
  background-color: #ffffff;
  padding: 22px;
  border-radius: 50%;
  margin-right: 20px;
}
.user-iteration {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ffffff87;
  margin-bottom: 20px;
}
.user-iteration input,
.user-iteration textarea {
  background: #0a22f4;
  border: none;
  height: 50px;
  color: #ffffff;
  font-size: 16px;
}
.form-container {
  width: 100%;
  max-width: 463px;
}
.form-container label {
  color: #ffffff;
  font-size: 16px;
}
.last-button {
  display: flex;
  justify-content: end;
  margin-top: 40px;
}
.last-button button {
  padding: 18px 40px;
}
h4 {
  font-size: 16px;
  font-weight: 300;
}
h6 {
  font-size: 13px;
  font-weight: 300;
}
.rights-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding-top: 20px;
  border-top: 1px solid #ffffff2a;
}
.smartweb-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.burger-icon {
  position: fixed;
  bottom: 10px;
  right: 43%;
  display: none;
}
@media (max-width: 1270px) {
  .header-container nav ul {
    gap: 20px;
    font-size: 10px;
  }
  .container {
    width: 90%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
@media (max-width: 769px) {
  header {
    height: 30vh;
    border-radius: 0 0 20px 20px;
  }
  .header-container {
    position: static;
    padding-top: 50px;
    transform: unset;
    background-color: transparent;
  }
  .header-container nav,
  .footer-text-container p {
    display: none;
  }
  .header-container img {
    width: 33vw;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .image-container img:last-child {
    display: none;
  }
  .image-container img {
    width: 45vw;
    height: 20vh;
    object-fit: cover;
    border-radius: 20px;
  }
  .information-container p:nth-of-type(2),
  .information-container p:nth-of-type(3) {
    display: none;
  }
  .footer-container {
    flex-direction: column-reverse;
  }
  .footer-container .last-button {
    justify-content: center;
    margin-bottom: 40px;
  }
  .footer-container .last-button button {
    padding: 20px 20vw;
  }
  .footer-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .map {
    box-shadow: none;
    width: 100%;
  }
  .contact-container {
    max-width: 463px;
    font-size: 13px;
  }
  .contact-container img {
    padding: 0;
    margin-right: 12px;
  }
  .contact-container .phone-num,
  .contact-container .mail-container {
    margin-right: 0;
  }
  .rights-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 130px;
  }
  .smartweb-container {
    margin-bottom: 40px;
  }
  h4 {
    font-size: 13px;
    opacity: 60%;
  }
  h6 {
    font-size: 13px;
  }
  .burger-icon {
    display: block;
  }
}

@media (min-width: 425px) and (max-width: 770px) {
  header {
    height: 50vh;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  header {
    height: 35vh;
  }
}

@media (max-width: 375px) {
  .image-container img {
    height: 15vh;
  }
  .smartweb-container,
  .contact-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
